@font-face {
  font-family: 'eYekan';
  src: url('../fonts/eYekan/font.eot');
  src: url('../fonts/eYekan/font.eot#iefix') format('embedded-opentype'), url('../fonts/eYekan/font.woff') format('woff'), url('../fonts/eYekan/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #efeff4;
}

* {
  outline: none !important;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.align-top {
  vertical-align: top;
}

.navbar-green {
  background-color: #41cab7;

  .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    padding-right: 0;
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }

  .btn {
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    padding: 4px 15px 7px;
    margin-top: 11px;
    border-radius: 4px;
  }

  .navbar-header {
    margin-left: 20px;
  }

  .navbar-form {
    display: inline-block;
    .form-control {
      &[type=text] {
        box-shadow: none;
        border-width: 0;
        width: 180px;
        margin-left: 7px;
        padding: 10px;
        line-height: 20px;
        height: 40px;
        border-radius: 3px;
      }
    }

    .glyphicon-search {
      color: white;
      display: block;
      float: left;
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
      margin-top: 7px;
      cursor: pointer;
    }
  }
}

.btn-warning {
  background: #ffb32a;
  border: #ffb32a;
  &:hover, &:focus {
    background: #ffa420;
    border-color: #ffa420;
  }
}

.btn-transparent {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: white;
  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
  }
}

.tagBar {
  background: #00B39B;
  padding: 10px;
  color: white;
  margin-top: 57px;

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 8px;
      a {
        display: block;
        background-color: #41cab7;
        color: white;
        padding: 4px 10px;
        border-radius: 3px;
        font-size: 16px;
        &:hover, &:focus {
          background-color: #1fbda5;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.toggle {
  border-radius: 0;
  * {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  &.btn {
    border-width: 1px;
    min-height: 40px;
    min-width: 66px;
    padding-right: 10px;
    padding-left: 10px;
    &.btn-female {
      border-color: #dc248c;
    }

    &.btn-male {
      border-color: #325cc5;
    }
  }
  .btn {
    border-width: 1px;
    color: white;
    line-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    &.btn-female {
      background: #dc248c;
      padding-left: 24px;
    }

    &.btn-male {
      background: #325cc5;
      padding-right: 24px;
    }
  }
}

.subtitle {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  border-width: 0;
  border-radius: 0;
  padding-right: 20px;
  padding-left: 20px;
  &.btn-primary {
    background: #3266be;
  }
}

a {
  cursor: pointer;
}

.separator {
  margin-right: 5px;
  margin-left: 5px;
}

.loading {
  display: none;
  background-repeat: no-repeat;
  background-position: center right;
  span {
    display: inline-block;
  }
  &.loading-48 {
    height: 48px;
    padding-right: 58px;
    background-image: url('../images/loading-48.gif');
    span {
      margin-top: 26px;
    }
  }
  &.loading-64 {
    height: 64px;
    padding-right: 74px;
    background-image: url('../images/loading-64.gif');
    span {
      margin-top: 38px;
    }
  }
}

.modal-footer {
  .loading {
    //float:right;
    display: none;
    margin-top: -10px;
    margin-bottom: -6px;
    padding: 0;
    span {
      margin-top: 16px;
    }
  }
}

.form-error {

  font-size: 13px;
  width: 99%;
  background: #fcc none repeat scroll 0 0;
  border: 1px solid #f7aeae;
  border-radius: 5px;
  padding: 8px 0;
  position: relative;
  margin-top: -10px;
  text-align: center;

  &:before {
    bottom: 100%;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    border: 6px solid rgba(255, 137, 137, 0);
    border-bottom-color: #f7aeae;
    margin-left: -6px;
    right: 5%;
  }

  &:after {
    bottom: 100%;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    border: 5px solid rgba(255, 204, 204, 0);
    border-bottom-color: #fcc;
    margin-left: -5px;
    right: 5%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 140%;
  margin: 0 0 10px;
}

.modal {

  h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
  }
}

h2 {
  font-size: 21px;
  font-weight: 500;
  line-height: 22px;
}

.floatingPanel {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #c7cdcf;
  display: block;
  float: none;
  margin: 100px auto auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 440px;
  z-index: 2;
  h2 {
    margin-bottom: 20px;
  }

  &.floatingPanel-lg {
    width: 580px;
  }
}

.silverPanel {
  background: #fcfcfc;
}

.whitePanel {
  background: white;
}

.btn-upload {
  position: relative;
  cursor: pointer;
  margin: auto;
  input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.profileImage {
  padding: 15px;
  img {
    margin-bottom: 15px;
  }
}

.fieldSet-title {
  border-bottom: 1px solid #dddddd;
}

label {
  .glyphicon {
    margin-left: 5px;
  }
}

.btn-toolbar {
  padding-bottom: 15px;
  text-align: right;
}

.float-left {
  display: block;
  float: left !important;
}

.float-right {
  display: block;
  float: right !important;
}

.header-button {
  float: left;
  margin-top: -30px;
}

.btn {
  box-shadow: none !important;
}

.ol-attribution {
  display: none;
}

.mapContainer {
  position: relative;
}

.mapTip {
  position: absolute;
  padding: 5px 10px;
  background: white;
  border: 2px solid #3266be;
  border-radius: 3px;
}

