@font-face {
  font-family: 'eYekan';
  src: url('../fonts/eYekan/font.eot');
  src: url('../fonts/eYekan/font.eot#iefix') format('embedded-opentype'), url('../fonts/eYekan/font.woff') format('woff'), url('../fonts/eYekan/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "bootstrap-rtl";

body {
  background: #efeff4 ;
}

.navbar-green {
  background-color: #1fbda5;

  .navbar-brand{
    font-size:28px;
    font-weight: bold;
    padding-right:0;
    color:white;
    &:hover, &:focus{
      color:white;
    }
  }

  .btn {
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    padding: 4px 15px 7px;
    margin-top:11px;
  }

  .navbar-header{
    margin-left:20px;
  }

  .navbar-form {
    display: inline-block;
    .form-control {
      &[type=text] {
        box-shadow: none;
        border-width: 0;
        width: 180px;
        margin-left: 7px;
        padding: 10px;
        line-height: 20px;
        height: 40px;
      }
    }

    .glyphicon-search {
      color: white;
      display: block;
      float: left;
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
      margin-top: 7px;
      cursor: pointer;
    }
  }
}

.btn-warning {
  background: #ffb32a;
  border: #ffb32a;
  &:hover, &:focus {
    background: #ffa420;
    border-color: #ffa420;
  }
}

.btn-transparent {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: white;
  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
  }
}

.-theme-3docean .page-section__background {
  background-color: #b3193d;
}

.-theme-audiojungle .page-section__background {
  background-color: #82b332;
}

.-theme-codecanyon .page-section__background {
  background-color: #e78733;
}

.-theme-graphicriver .page-section__background {
  background-color: #308eb1;
}

.-theme-photodune .page-section__background {
  background-color: #0f8c98;
}

.t-icon-list a {
  color: #0084b4;
}

.t-icon-list a:hover {
  color: #00719b;
}

.-theme-themeforest .page-section__background {
  background-color: #1fbda5;
}

.-theme-videohive .page-section__background {
  background-color: #f1a31e;
}

.-theme-envato .page-section__background {
  background-color: #82b541;
}

.-theme-power-elite .page-section__background {
  background-color: #333;
}

.tagBar{
  background: #00B39B;
  padding:10px;
  color:white;
  margin-top:57px;
}